---
import Layout from '../layouts/Layout.astro';

import Login from '../components/Login.astro';
---

<Layout title="FlorMA Venta." description ="parte donde se encuentra la inserciion de venta ">
	
	<main>
		<Login/>
	</main>
</Layout>

<style>
	
</style>