<div class="w-300 mb-10" >
    <form action="" >
        <h1 
            class="text-5xl font-semibold text-center text-wrap mx-auto mb-10">
            FlorMa
        </h1>
        <h2>
            Sing In
        </h2>
        <label for="user">  Usuario <input name ="user" type="text" id="user"></label>
        <label for="pass">Conrasenia <input name ="user" type="password" id="pass"></label>
        <input type="text">
    </form>
</div>